.RecipeCard {
  width: 25rem;
  height: 30rem;
  margin: 1rem;

  .card {
    width: 100%;
    height: 100%;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    .Image {
      height: 75%;
      background-color: orange;
      position: relative;

      &:hover {
        opacity: 0.6;
        background-color: #6f839e;
        cursor: pointer;

        .view-recipe {
          opacity: 1;
        }
      }

      .view-recipe {
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        left: 0;
        font-size: 1.5rem;
        text-align: center;
        color: white;
        pointer-events: none;
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }
    }

    .Text {
      padding: 0.2rem 1.6rem;
      font-size: 1.2rem;
    }
  }
}
