@import './common/sass/mixin';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;

  @include responsive(tab-land) {
    font-size: 56.25%;
  }

  @include responsive(tab-port) {
    font-size: 50%;
  }

  @include responsive(big-desktop) {
    font-size: 65%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  @include responsive(tab-land) {
    width: 970px;
  }

  @include responsive(tab-port) {
    width: 750px;
  }
}
